/* Styles for the Edit Rembourssement section */
.rembourssement-section-style {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto; /* Center the section horizontally */
}

.rembourssement-image-container {
  flex: 1 1 50%;
  background: url('./q.png') no-repeat center center;
  background-size: cover;
  height: 100%;
}

.rembourssement-form-container {
  flex: 1 1 50%;
  padding: 40px;
  box-sizing: border-box;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.rembourssement-section-title {
  font-family: 'Inter', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.89px;
  text-align: center; /* Center the title */
  color: #023781;
  margin-bottom: 20px; /* Space between the title and the form */
}

.rembourssement-form-label {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: #697386;
  display: block;
  margin-bottom: 5px;
}

.rembourssement-form-input {
  width: calc(100% - 24px); /* Adjust the width to account for padding */
  padding: 13.5px 12px;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #D9DCE1;
  box-sizing: border-box;
  margin-bottom: 20px; /* Space between input fields */
}

.rembourssement-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.rembourssement-btn-annuler,
.rembourssement-btn-ajouter {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  flex: 1;
  margin: 0 10px; /* Space between buttons */
}

.rembourssement-btn-annuler {
  background-color: white;
  color: #3C4257;
}

.rembourssement-btn-ajouter {
  background: #034DA3;
  color: white;
}

.rembourssement-btn-annuler:hover,
.rembourssement-btn-ajouter:hover {
  opacity: 0.8;
}

p {
  color: red;
  margin: 0;
  font-size: 12px;
  margin-top: 5px;
}
